.timeline-container {
    color: white;
  }
  
  .event-image {
    width: 100%;
    border-radius: 4px;
    margin-top: 10px;
  }
  .timeline-icon {
    background-color: rgb(56, 51, 48);
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 1.5rem;
  }
  
  