@import url('https://fonts.googleapis.com/css?family=Courgette|Roboto');

:root {
  --ff-serif: 'Courgette', serif;
  --ff-sans-serif: 'Roboto', sans-serif;
  --color-accent: #A9DFBF;
}

.head {
  height: 100%;
  overflow: hidden;
}
.container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: linear-gradient(to right, black 50%, #1d1515, black 75%);
  display: grid;
  justify-items: center;
  perspective: 600px;
  perspective-origin: center center;
  /* // Previously JS was needed, but with body { height: 100% } instead of body { height: 100vh }, it works!
  // perspective-origin: center calc((var(--s, 1) * 1px) + 50%); */
}

.box {
  background: linear-gradient(to right, rgb(62, 62, 62) 10%, #000000);
  width: 100%;
  height: 500px;
  /* transform-style: preserve-3d; */
  /* transform: translateX(-50%) rotateY(65deg); */
  /* transform-origin: right center; */
}

.box span {
  font-family: var(--ff-serif)
}

.box2 {
  background: linear-gradient(to left, rgb(62, 62, 62) 10%, #000000);
  /* transform: translateX(50%) rotateY(-65deg); */
  /* transform-origin: left center; */
}

.top_section{
  margin: 0 auto;
  background-image: url("/src/assets/planet1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 35%;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
  transition: all 0.5s ease-in-out;
}

.top_section:hover{
  background-image: url("/src/assets/planet2.png");
  border-radius: 14% 86% 37% 63% / 53% 31% 69% 47% ;
}